@model OzElectric_EmployeeManagement.Models.HourRecord

@{
	ViewBag.Title = "JobHourRecordQuery";
}

<form action="JobInvoice" method="post">


	<div class="form-horizontal">

		<hr />


		<div class="form-group">
			<p class="control-label col-sm-1">  Start Date: </p>
			<div class="col-md-3">
				<input class="form-control" type="date" name="startDate" value="" />
			</div>
		</div>

		<div class="form-group">
			<p class="control-label col-sm-1"> End Date: </p>
			<div class="col-md-3">
				<input class="form-control" type="date" name="endDate" />
			</div>
		</div>



		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="View invoice" class="btn btn-primary" />
			</div>
		</div>


	</div>


</form>



