@model OzElectric_EmployeeManagement.Models.HourRecord

@{
	ViewBag.Title = "EmployeeHourRecordQuery";
}

<h2>EmployeeHourRecordQuery</h2>


<form action="EmployeeInvoice" method="post">


	<div class="form-group">
		<p class="control-label col-md-10"> Start Date: </p>
		<div class="col-md-10">
			<input type="date" name="startDate" value="" />
		</div>
	</div>

	<div class="form-group">
		<p class="control-label col-md-10"> End Date: </p>
		<div class="col-md-10">
			<input type="date" name="endDate" />
		</div>
	</div>


	<div class="form-group">
		@Html.LabelFor(model => model.Job_JobID, "Job:", htmlAttributes: new { @class = "control-label col-md-10" })
		<div class="col-md-10">
			@Html.DropDownList("Job_JobID", null, htmlAttributes: new { @class = "form-control", @required = "required", @name = "jobName" })
			@Html.ValidationMessageFor(model => model.Job_JobID, "", new { @class = "text-danger" })

		</div>
	</div>





	<input type="submit" value="View Invoice" />

</form>











