@model OzElectric_EmployeeManagement.Models.Purchaser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Purchaser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaserID }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
